nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%; /* กำหนดความกว้างให้เท่ากับของหน้าจอ */
  padding: 0 3vw; /* ใส่ padding เพื่อปรับขนาดห่างระหว่างขอบหน้าจอและ Navbar */
  margin-bottom: 100%;
  margin-top: -1%;
}

.nav-search{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60%;
  margin-bottom: 60%;
  margin-top: 3.5%;

}
  .nav-container img {
    width: 12vw; /* ปรับขนาดของโลโก้ให้เป็น 20% ของความกว้างของ Navbar */
    height: auto;
    vertical-align: middle;
    margin-left: 5vw; /* ปรับระยะห่างซ้ายของโลโก้ให้เป็น 5% ของความกว้างของ Navbar */
    margin-top: 3%
  }
  

  .nav-icons {
    width: 1.5vw; /* ปรับขนาดของไอคอนให้เป็น 1.5% ของความกว้างของ Navbar */
    height: 1.5vw;
    color: #494949;
    margin-right: 2vw; /* ปรับระยะห่างขวาของไอคอนให้เป็น 15% ของความกว้างของ Navbar */
    margin-left: 3vw; /* ปรับระยะห่างซ้ายของไอคอนให้เป็น -5% ของความกว้างของ Navbar */
  }
  
  .home-link {
    margin-right: 5vw; 
    margin-left: 2vw;
  }
  
  .store-link {
    margin-right: 3vw; /* ปรับระยะห่างขวาของลิงก์ "Store" */
  }



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px; /* เพิ่มความกว้างของ dropdown-content เพื่อให้มีพื้นที่เพียงพอสำหรับข้อความ */
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); /* เพิ่มการใช้งาน box-shadow เพื่อให้มีเงาขึ้นทั้งแนวนอน */
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

  
  .line{
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #d2d2d2; /* สีของเส้นบนและล่างที่คุณต้องการ */
  }
  
  .line {
    top: 90; /* ระยะห่างบนที่คุณต้องการ */
  }