.card-container-store {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8vw;
    margin-right: 10%;
    margin-left: -2%;
}

.title-store {
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 50px;
    font-family: sans-serif;
    text-align: left; /* ชิดขวา */
}

  